<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <h4 class="card-header" style="text-align: center;">Coupon</h4>
            <div class="card-body">
              <h3 class="card-title text-center">Click here to manage operations on coupons</h3>
              <div class="card-footer">
                <button class ="btn btn-lg btn-block btn-outline-info" (click)=gotocoupon()>Next</button>
            </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <h4 class="card-header" style="text-align: center;">Pizza</h4>
            <div class="card-body">
              <h3 class="card-title text-center">Click here to manage operations on pizzas</h3>
              <div class="card-footer">
                <button class ="btn btn-lg btn-block btn-outline-info" (click)=gotoPizza()>Next</button>
            </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <h4 class="card-header" style="text-align: center;">Order</h4>
            <div class="card-body">
              <h3 class="card-title text-center">Click on the next button to manage orders</h3>
              <div class="card-footer">
                <button class ="btn btn-lg btn-block btn-outline-info" (click)=goToOrder()>Next</button>
       </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <h4 class="card-header" style="text-align: center;">Customer</h4>
            <div class="card-body">
              <h3 class="card-title text-center">Click on the next button to view customers</h3>
              <div class="card-footer">
                <button class ="btn btn-lg btn-block btn-outline-info" (click)=goToCustomer()>Next</button>
       </div>
            </div>
          </div>
        </div>
      </div>
</div>