<p style="text-align:left">Coupan Card!!</p>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class ="col">
  <div class="card">
      <h5 class="card-header" style="text-align:center">Coupon</h5>
       <div class="card-body">
      <p class="card-subtitle">Click on the button to manage coupons</p>
          </div>
      <div class="card-footer">
         <button class ="btn btn-lg btn-block btn-outline-info" (click)=gotocoupon()>Next</button>
  </div>
  </div>
  </div>
  </div>

<p style="text-align:left">Pizza Card!!</p>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class ="col">
    <div class="card">
        <h5 class="card-header" style="text-align: center;">Pizza</h5>
         <div class="card-body">
        <p class="card-subtitle">Click on the button to manage pizzas</p>
            </div>
        <div class="card-footer">
           <button class ="btn btn-lg btn-block btn-outline-info" (click)=gotocoupon()>Next</button>
    </div>
    </div>
    </div>
    </div>

    <p style="text-align:left">Order Card!!</p>
    <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class ="col">
    <div class="card">
        <h5 class="card-header" style="text-align: center;">Order</h5>
         <div class="card-body">
        <p class="card-subtitle">Click on the button to manage orders</p>
            </div>
        <div class="card-footer">
           <button class ="btn btn-lg btn-block btn-outline-info" (click)=gotocoupon()>Next</button>
  </div>
    </div>
    </div>
    </div>
  
  

