<!-- <p>pizza-list works!</p>
<div class="col-md-6 user-container">
    
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
        <label for="type">Type:</label>
        <input type="text" formControlName="type" placeholder="type" name="type" class="form-control" id="type" >
      </div>
  
      
      <div class="form-group">
        <label for="Password">Password</label>
        <input formControlName="password" type="password" placeholder="password" name="password" class="form-control" id="password">
      </div>
  
      <div class="form-group">
        <label for="Role">Role</label>
        <input type="text" formControlName="role" placeholder="role" name="role" class="form-control" id="role">
      </div>

      <div class="form-group">
        <label for="MobileNumber">MobileNumber</label>
        <input type="text" formControlName="mobileNumber" placeholder="mobileNumber" name="mobileNumber" class="form-control" id="mobileNumber">
      </div>
  
      
      <input type="submit" value="Register" class="btn btn-success">
    </form>
  </div>

 -->