
<div class="container-fluid" style="background-image: url('https://st4.depositphotos.com/16122460/19971/i/1600/depositphotos_199711036-stock-photo-slices-delicious-pizza-light-background.jpg');">
<div class="container h-100">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1>Veg Pizzas</h1>
            <p>We have a huge variety of mouth watering Veg Pizzas </p>
          </div>
          <!-- <button type="submit" (click)="toVeg()">Click here to get the List</button> -->
          <div class="ico-card">
          <i class="fa fa-rebel"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1>Non-Veg Pizzas</h1>
            <p>Explore our amazing varieties of Non-Veg Pizzas</p>
          </div>
          <!-- //<a (click)='getNonVeg()'>Click here to get the List</a> -->
        <div class="ico-card">
          <i class="fa fa-codepen"></i>
        </div>
        </div>
      </div>
    </div>

      